<%= link_to 'Vk', 'auth/vkontakte' %>
<div class="container">
	<div class="inviter col-md-6 col-md-offset-3">
		<%= form_tag(controller: 'inviters', action: 'create') do %>
		   <%= label_tag :email %>
		   <%= text_field_tag :email %>

		   <%= label_tag :submit %>
		   <%= submit_tag :'Отправить', class: 'btn btn-primary' %>
		 <% end %>
	</div>
</div>