doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h1
      | Welcome! Lets https://photoselfer.herokuapp.com
    
    p
      | Thanks for joining and have a great day!
