<% provide(:title, current_user.name) %>
<div class="container">
  <div class="my-profile col-md-6 col-md-offset-3">
    <h1>User Profile </h1></br>
    <h4><center>Name: <%=current_user.name %></h4></br>
    <h4><center>Email: <%=current_user.email %></h4></br>
  </div>
</div>
