/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	height:auto;
	margin: auto;
	font-size:Verdana, sans-serif;
}

.my_header {
	position: relative;
background: rgb(0,183,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
	.my-nav{
		margin-left: 800px;
		li{
			a{
		  font-size:15px;
		  color: white;
	       	 }
	      }
	    .dropdown.open{
	    	a {color:white; 
	    	   background-color: rgb(0,183,234);
	         	&:hover {background-color: #87CEEB;}
	    	   }
	    .dropdown-menu { margin-top: 2px;
	                     background-color: rgb(0,183,234)
	                   }
	    }
	}
	.logo{
		width:200px;
		height: 50px;
		float:left;
	}
}
.my_footer {
background: rgb(0,183,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
		.omniauth {

			     ul{
			      margin-left: 115px;
			       a{color: white}
			       }
			     }
           }
.content {
	position:relative;
	top:10px;
	border:1px solid rgb(0,183,234);
	border-radius: 5px;
		.my-form{
			text-align: center;
			font-size:15px;
		}
	 	h1 {
	 		text-align: center;
	 	}
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input, textarea, select, .uneditable-input {
  border: 1px solid rgb(0,183,234);
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
#error_explanation {
    color: #f00;
}
#error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0;
}
.my-flash {
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    margin-top:30px;
    color: #424242
}
.my-profile{
	margin-top: 0px;
}